* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

.contenedor {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.contenedor_2 {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

header {
  background-color: #0097e6;
  font-family: 'Segoe UI';
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
  box-sizing: border-box;
}

h1,
h5 {
  color: white;
}

.alineado {
  width: 5%;
  padding-right: 20px;
}

.nav {
  margin: 0 auto;
  background-color: #abaaaa;
  padding: 20px;
  list-style: none;
  text-align: center;
  margin: 0px auto 0px auto;
  border: black solid 1px;
}

a:hover,
a.on {
  color: #0097e6;
}

#li {
  display: inline;
  margin: 0px 3px;
  border: blacksolid 1px;
}

.a1 {
  color: #000000;
  text-decoration: none;
  padding: 4%;
}

a {
  cursor: pointer;
}

.contenedor_3 {
  width: 50%;
  max-width: 600px;
  border: solid 2px gray;
  padding: 25px;
  box-sizing: border-box;
  height: 325px;
}

.boton {
  width: 15%;
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
  background-color: #0097e6;
  border-radius: 10px;
  padding-top: 10px;
  color: black;
}

.input {
  padding: 10px 32px 10px 30px;
  cursor: text;
}

input.submit:hover {
  background-color: blue;
  cursor: pointer;
}

input.submit:active {
  background-color: green;
}

.boton_1 {
  width: 16%;
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
  background-color: #beb0b0;
  border-radius: 10px;
  padding-top: 10px;
  color: black;
}

.alineado_1 {
  width: 12%;
  padding-right: 20px;
}

.contenedor_4 {
  width: 90%;
  text-align: center;
  float: middle;
}

.contenedor_5 {
  width: 55%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  float: center;
}

div label {
  width: 60%;
  float: left;
  padding: 5px;
}

.input_2 {
  padding: 10px 50px 10px 30px;
  cursor: text;
}
