* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

.contenedor {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

header {
  background-color: #0097e6;
  font-family: 'Segoe UI';
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
  box-sizing: border-box;
}

h1,
h5 {
  color: white;
}

.alineado {
  width: 5%;
}
